h1{
  color: white;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font: 1.3rem/1.5 'Pretendard', sans-serif;
  background: #151119;
  
  background-size: cover;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

h1 span {
  display: inline-block;
  position: relative;
  top: 0;
  transition: all 1s;
}